<div class="fullContainer">

    <section class="leftSection">
        <div class="containerSec">
            <h1>Nombre del evento</h1>
        <h2>1 | Ingresa tus datos</h2>
        <div class="userData" id="documento" [style]="displayDocStatus()">
            <label for="toggleDocument"> Documento</label>
            <select name="toggleDocument" id="">
                <option value=""></option>
            </select>
        </div>
        <div class="userData" id="nombre" [style]="displayNameStatus()">
            <label for="toggleName"> Nombre</label>
            <select name="toggleName" id="">
                <option value=""></option>
            </select>
        </div>
        <div class="userData" id="codigo" [style]="displayCodeStatus()">
            <label for="toggleCode"> Código</label>
            <select name="toggleCode" id="">
                <option value=""></option>
            </select>
        </div>
        <div class="userData" id="grupo" [style]="displayGroupStatus()">
            <label for="toggleGroup"> Grupo</label>
            <select name="toggleGroup" id="">
                <option value=""></option>
            </select>
        </div>
        </div>
    </section>
    <section class="rightSection">
       <img src="../../../assets/images/2.jpg" alt="">
    </section>

</div>



