<section class="leftSection">
    <h1>Nombre del evento</h1>
    <h2>1 | Ingresa tus datos</h2>
    <div class="userData" id="documento">
        <label for="toggleDocument"> Documento</label>
        <select name="toggleDocument" id="">
            <option value=""></option>
        </select>
    </div>
    <div class="userData" id="nombre">
        <label for="toggleName"> Nombre</label>
        <select name="toggleName" id="">
            <option value=""></option>
        </select>
    </div>
    <div class="userData" id="codigo">
        <label for="toggleCode"> Código</label>
        <select name="toggleCode" id="">
            <option value=""></option>
        </select>
    </div>
    <div class="userData" id="grupo">
        <label for="toggleGroup"> grupo</label>
        <select name="toggleGroup" id="">
            <option value=""></option>
        </select>
    </div>
</section>



