.fullContainer {
    display: flex;
}

.leftSection {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .containerSec .userData {
        display: flex;
        flex-direction: column;
    }
}

.rightSection {
    display: flex;
    width: 50vw;
    height: 100vh;
}