<div class="container">
    <section class="left-section">
        <div class="titleContainer ">
            <button class="backButton" [routerLink]="['/modoAdmin']">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
                </svg>
            </button>
            <h1 class="left-section-item" id="title" (click)="loadDisplaySettings()" [routerLink]="['/modoAdmin']">Configuración</h1>
        </div>
        <div class="left-section-item" id="event-name">
            <h2 class="subtitle">Nombre del evento</h2>
            <input class="input" type="text" placeholder="{{eventName()}}" (change)="changeEventName($event)">
        </div>
        <div class="left-section-item" id="table-number">
            <h2 class="subtitle">Número de mesa</h2>
            <div class="increase-input">
                <button class="button" (click)="decreaseTableNumber($event)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path
                            d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z" />
                    </svg>
                </button>
                <span class="number"> {{ numeroMesa() }} </span>
                <button class="button" (click)="increaseTableNumber($event)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path
                            d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="left-section-item" id="toggle-info">
            <h2 class="subtitle">Datos solicitados</h2>
            <ol class="list">
                <li class="list-item">
                    <label for="toggle-input" class="toggle-label">Grupo</label>
                    <input class="toggle-input" type="checkbox" id="switchA" (click)="dataFieldDisplay($event)" disabled checked>
                </li>
                <li class="list-item">
                    <label for="toggle-input" class="toggle-label">Documento</label>
                    <input class="toggle-input" type="checkbox" id="switchB" (click)="dataFieldDisplay($event)" [checked]="displaySettings.document">
                </li>
                <li class="list-item">
                    <label for="toggle-input" class="toggle-label">Nombre</label>
                    <input class="toggle-input" type="checkbox" id="switchC" (click)="dataFieldDisplay($event)" [checked]="displaySettings.name">
                </li>
                <li class="list-item">
                    <label for="toggle-input" class="toggle-label">Código</label>
                    <input class="toggle-input" type="checkbox" id="switchD" (click)="dataFieldDisplay($event)" [checked]="displaySettings.code">
                </li>
            </ol>
        </div>
        <section class="edit-candidate-form" [style]="displayTypeEditModule()">
            <div class="candidate-info">
                <img src="{{currentTemporaryAvatar()}}" alt="default-image">
                <input class="uploadInput" type="file" (change)="changeAvatar($event)">
            </div>
            <div class="candidate-info">
                <label class="subtitle" for="">Editar nombre del candidato</label>
                <input id="editNameInput" class="typeInput" type="text" placeholder="{{currentName()}}"
                    (change)="changeName($event)">
            </div>
            <div class="candidate-info">
                <label class="subtitle" for="">Editar número del candidato: </label>
                <input id="editNumberInput" class="typeInput" type="text" placeholder="{{currentNumber()}}"
                    (change)="changeNumber($event)">
            </div>
            <button id="saveInfo" (click)="editCandidateinfo($event)">
                Guardar información
            </button>
            <button id="closeForm" (click)="closeForm()"> 
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/>
                </svg>
            </button>
        </section>
    </section>
    <section class="right-section">
        <div class="list-container" id="container-lista-votantes">
            <h2 class="listCont-item" id="subtitle"> Lista de votantes | Mesa {{ numeroMesa() }}</h2>
            <ul class="listCont-item" id="main-list">
                <li>
                    <ul class="child-list" id="listaNombre">
                        <li class="list-title">Nombre</li>
                        <li *ngFor="let user of votantes() | slice:1 ; index as i" class="list-item">
                            <p> {{user.name}} </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="child-list" id="listaGrupo">
                        <li class="list-title" [style]="">Grupo</li>
                        <li *ngFor="let user of votantes() | slice:1 ; index as i" class="list-item">
                            <p> {{user.group}} </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="child-list" id="listaDocumento">
                        <li class="list-title">Documento</li>
                        <li *ngFor="let user of votantes() | slice:1 ; index as i" class="list-item">
                            <p> {{user.id}} </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="child-list" id="listaCodigo">
                        <li class="list-title">Código</li>
                        <li *ngFor="let user of votantes() | slice:1 ; index as i" class="list-item">
                            <p> {{user.code}} </p>
                        </li>
                    </ul>
                </li>
            </ul>
            <label for="uploadXlsx" class="customFileUpload"> Subir archivo</label>
            <input id="uploadXlsx" type="file" (change)="readExcel($event)">
        </div>
        <div class="list-container" id="container-lista-candidatos">
            <div class="listaTarjetones" >
                <h2 class="subtitle"> Lista de tarjetones <span> | {{ tarjeton().length }} Tarjetones registrados |
                </span><a [routerLink]="['/editTarjetones']">Editar Lista</a>
            </h2>
            <ul class="list">
                <li *ngFor="let card of tarjeton(); let i = index" class="tarjetonCard" (click)="showList(card.name, i)">
                    <p class="cardinfo" id="cardPosition">{{i + 1}}</p>
                    <p class="cardinfo" id="cardName">{{ card.name }}</p>
                    <p class="cardinfo" id="cardAmount">{{card.amountCandidates}} candidatos registrados</p>
                    <button class="addCandidate" (click)="popUpAddModule($event, i)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                            <path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
                        </svg>
                    </button>
                </li>
            </ul>
            </div>
            <div class="listasCandidatos">
                    <h2 class="subtitle">
                        Lista de candidatos a {{listName()}}
                    </h2>
                    <ul class="listaCandidatos"> 
                        <li 
                        *ngFor="let candidate of candidates();
                        index as i" 
                        class="candidateCard">
                            <img 
                            class="candidateAvatar" 
                            src="{{candidate.avatar}}" 
                            alt="candidatePhoto">
                            <div 
                            class="candidate-text-info">
                                <p>0{{candidate.number}}</p>
                                <p>{{candidate.name}}</p>
                            </div>
                            <div 
                            class="buttons-container">
                                <button 
                                class="edit-button" 
                                (click)="editCandidate(i)">
                                    <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 512 512">
                                        <path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z" />
                                    </svg>
                                </button>
                                <button 
                                (click)="deleteCandidate(i)">
                                    <svg 
                                    xmlns="http://www.w3.org/2000/svg" 
                                    viewBox="0 0 448 512">
                                        <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                    </svg>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
        </div>
    </section>
    <div 
    class="addCandidate-form" 
    [style]="displayType()">
        <div class="outOfDialog" (click)="closeAddModule()"></div>
        <dialog class="edit-module">
            <div class="candidate-info">
                <label for="">Foto del candidato</label>
                <img src="{{ temporaryAvatarCandidato() }}" alt="default-image">
                <input type="file" (change)="handleFileInput($event)">
            </div>
            <div class="candidate-info">
                <label for="">Nombre del candidato</label>
                <input id="nameInput" type="text" placeholder="p.ej: María Caicedo" (change)="addCandidateName($event)"
                    value="">
            </div>
            <div class="candidate-info">
                <label for="">Número del candidato</label>
                <input id="numberInput" type="text" placeholder="p.ej: 1, 2, 3..."
                    (change)="addCandidateNumber($event)">
            </div>
            <button id="addCandidate" (click)="addCandidate($event)">Añadir candidato
            </button>
        </dialog>
    </div>
</div>