<header class="main-head-container">
    <ul class="logo-list">
        <figure id="logo"><img width="40" height="40" src="https://img.icons8.com/ios-filled/50/full-stop.png" alt="ElectoLogo"/></figure>
        <li id="name-logo">Electo</li>
    </ul>
    <a href="http://localhost:4200/candidatos">candidatos</a>
</header>
<section class="card-main-container">
<div class="card">
    <h1 id="login-sign">Ingresa tus datos</h1>
    <form action="/" class="loginForm">
        <label for="name" class="label"> Nombre </label>
        <input type="text" id="studentName" placeholder="Tu nombre" class="studentInfo">
        <label for="ID" class="label">No. de identificación</label>
        <input type="text" id="studentID" placeholder="Número de identificación" class="studentInfo">
        <button id="submitButton" (click)="clickHandler($event)">Ir a votar</button>
    </form>
</div>
</section>