.main-head-container {
    align-items: center;
    display: flex;
    height: 8vh;
    justify-content: space-between;
    width: 100%;
}
.main-head-container .logo-list {
    display: flex;
    gap: 0;
    list-style: none;
    margin: 0;
    padding-left: 40px;
}
.main-head-container .logo-list #logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
 }
.main-head-container .logo-list #name-logo {
    align-items: center;
    display: flex;
    font-family: "Libre Baskerville", serif;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
}
//-----------------------------------------------------------------
//HEADER END

//MID-MAIN-CONTAINER STARTS
.mid-main-container {
    display: flex;
    min-height: 92vh;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
}
//---->sub-candidate-amount
.mid-main-container .sub-candidate-amount {
    display: flex;
    flex-direction: column;
    width: 565px;
    gap: 25px;
}
.mid-main-container .sub-candidate-amount .candidate-amount{
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    gap: 8px;
    height: fit-content;
    margin: 0px 60px;
    padding: 20px;
    width: 405px;
}
.mid-main-container .sub-candidate-amount .candidate-amount #amount-title{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0; 
}
.mid-main-container .sub-candidate-amount .candidate-amount #amount-number{ 
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
//---->edit-candidate-info
.mid-main-container .edit-candidate-info {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0px 60px;
    padding: 20px;
    width: 405px;
}
.mid-main-container .edit-candidate-info .candidate-info{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    gap: 8px;
}
.mid-main-container .edit-candidate-info .candidate-info img{
    width: 300px;
    margin: auto;
}
.mid-main-container .candidate-info:nth-child(1n+2) input{
    border-color: #C5A399;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 8px;
}
.mid-main-container .sub-candidate-amount #addCandidate{ 
    background-color: black;
    border-radius: 5px;
    border: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    width: 200px;
    margin: auto;
}
//---->edit-candidate-info END
//---->sub-candidate-amount END

//---->sub-cardList-container
.mid-main-container .sub-cardList-container {
    display: flex;
    width: calc(100% - 565px);
    justify-content: center;
}
.mid-main-container .sub-cardList-container .candidates-list{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    height: fit-content;
}
.mid-main-container .sub-cardList-container .candidates-list .list-item .candidate-card {
    width: auto;
    background-color: white;
    padding: 15px;
    padding-bottom: 0;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    transition: box-shadow 0.20s ease;
}
.mid-main-container .sub-cardList-container .candidates-list .list-item .candidate-card #user-avatar{
    width: 300px;
    border-radius: 15px;
}
.mid-main-container .sub-cardList-container .candidates-list .list-item .candidate-card .candidate-text-info{
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.mid-main-container .sub-cardList-container .candidates-list .list-item .candidate-card .buttons-container {
    display: flex;
    height: 0;
    justify-content: space-between;
}
.mid-main-container .sub-cardList-container .candidates-list .list-item .candidate-card .buttons-container .edit-buttons{
    position: relative;
    top: -355px;
}
.mid-main-container .sub-cardList-container .candidates-list .list-item .candidate-card .buttons-container .edit-buttons figure{
    margin: 0;
}
.mid-main-container .sub-cardList-container .candidates-list .list-item .candidate-card .buttons-container .edit-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    transition: box-shadow 1s ease;
}
.mid-main-container .sub-cardList-container .candidates-list .list-item .candidate-card .buttons-container .edit-buttons:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-color: black;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
}

//---->sub-cardList-container END




