.main-head-container {
    align-items: center;
    display: flex;
    height: 8vh;
    justify-content: space-between;
    width: 100%;
}
.main-head-container .logo-list {
    display: flex;
    gap: 0;
    list-style: none;
    margin: 0;
    padding-left: 40px;
}
.main-head-container .logo-list #logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
 }
.main-head-container .logo-list #name-logo {
    align-items: center;
    display: flex;
    font-family: "Libre Baskerville", serif;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
}
//HEADER ABOVE - END OF HEAD STYLES
//SUB-TITLE STYLES
.sub-header {
    display: flex;
    height: 8vh;
    justify-content: center;
    align-items: center;
}
.sub-header .sub-title {
    width: 420px;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: 24px;
    font-weight: bold;
}
//CARD STYLES
.cards-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 84vh;
    max-height: fit-content;
    width: 100%;
}
.cards-main-container .cards-container {
    display: grid;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    gap: 50px;
}
.cards-main-container .cards-container .card {
    list-style: none;
    width: 330px;
    padding: 15px;
    padding-bottom: 0;
    background-color: white;
    box-sizing: border-box;
    margin: 0;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    transition: box-shadow 0.20s ease;
}
.cards-main-container .cards-container .card:hover {
    list-style: none;
    width: 330px;
    padding: 15px;
    padding-bottom: 0;
    background-color: white;
    box-sizing: border-box;
    margin: 0;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.cards-main-container .cards-container .card .candidate-pic{
    display: flex;
    justify-content: center;
}
.cards-main-container .cards-container .card li #candidate-avatar{
    width:300px;
}
.cards-main-container .cards-container .card .candidate-info{
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards-main-container .cards-container .card .candidate-info p{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
}




