<div class="container">
  <div class="addContainer">
    <button class="backButton" (click)="goBack()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
        <path d="M320 32c0-9.9-4.5-19.2-12.3-25.2S289.8-1.4 280.2 1l-179.9 45C79 51.3 64 70.5 64 92.5V448H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H96 288h32V480 32zM256 256c0 17.7-10.7 32-24 32s-24-14.3-24-32s10.7-32 24-32s24 14.3 24 32zm96-128h96V480c0 17.7 14.3 32 32 32h64c17.7 0 32-14.3 32-32s-14.3-32-32-32H512V128c0-35.3-28.7-64-64-64H352v64z"/>
      </svg>
    </button>
    <section class="form-section">
      <input (change)="addName($event)" class="newName" type="text" placeholder="Nombre del tarjetón" id="nameInput"
        required>
      <button type="submit" (click)="addTarjeton($event)" [disabled]="tarjetones().length >= 5">
        <p>Agregar tarjetón</p>
      </button>
    </section>
  </div>
  <section class="list-section">
    <ul class="list">
      <li *ngFor="let card of tarjetones(); index as i" class="tarjetonCard">
        <p class="cardinfo" id="cardPosition"> {{i+1}} </p>
        <p class="cardinfo" id="cardName">{{ card.name }}</p>
        <p class="cardinfo" id="cardAmount"> 0 candidatos registrados</p>
        <button (click)="deleteTarjeton(i)">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
              d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
          </svg>
        </button>
      </li>
    </ul>
  </section>
</div>

